* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  //background: #01579B;
}

a {
  color: inherit;
  text-decoration: none;
}

.bt-content {
  position: relative;
  width: 100%;
  height: 100vh;

  .bt-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 1s ease;
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }

  .bt-container {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    top: 50px;
    left: 0px;
    padding: 50px;
    z-index: 1;
    //transform: translate3d(0, 0, 0);

    .bt-box:first-child {
      padding: 1px;
      margin: 0 0 0 0px;
      width: 300px;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 5px;
      box-shadow: 0 29px 32px -20px rgba(0,0,0,0.5),0 4px 11px -3px rgba(0,0,0,0.25);
    }

    .bt-box {
      padding: 1px;
      margin: 0 0 0 50px;
      width: 300px;
      background-color: rgba(255, 255, 255, 0);
      border-radius: 5px;
      box-shadow: 0 29px 32px -20px rgba(0,0,0,0.5),0 4px 11px -3px rgba(0,0,0,0.25);
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      cursor: pointer;

      .bt-box-banner {
        height: 320px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      .bt-box-content {
        height: 140px;
        width: 100%;
        background: #fff;
        padding: 5px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }

  .bt-cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    .bt-cover-banner {
      height: 320px;
      width: 300px;
      position: absolute;
      will-change: width, height, left, top;
      transition: all .5s ease;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .bt-cover-content {
      position: absolute;
      height: 140px;
      width: 300px;
      will-change: width, height, left, top;
      transition: all .5s ease;
      background: #fff;
    }
  }

  .bt-event {
    pointer-events: auto;
  }
}