.un-photo-page {
  .un-photo-container {
    position: relative;
    width: 100%;
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }

  .un-photo-blog {
    position: relative;
    background: #fff;
    width: 100%;
    padding: 15px;
    transition: visibility .1s .5s ease;
    visibility: hidden;

    .un-blog-content {
      height: 800px;
      width: 100%;
    }

  }

  .un-show-blog {
    visibility: visible;
  }

  .un-photo-scale {
    display: none;
  }

}

.un-photo-slide-ul {
  position: relative;
  display: flex;
  transition: transform .5s ease;

  .un-photo-slide-li {
    position: relative;
    height: 100%;
    width: 100vw;
    overflow: hidden;

    .un-photo-slide-li-img {
      background-size: cover;
      position: absolute;
      top: 0;
      left: 50%;
      right: 0;
      bottom: 0;
      margin: auto;
      // height: 100%;
      transform: translateX(-50%);
      background-position: 50%;
    }
  }
}